<%-include('common/header.ejs')%>

    <form action="/" method="POST">
        <label for="name">Input your name:</label>
        <input type="text" id="name" name="name"/>
        <button type="submit">Submit</button>
    </form>

<%-include('common/footer.ejs')%>

