<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if(products.length > 0) { %>
        <ul>
            <% products.forEach(p => { %>
                <li>
                    <p><%= p.title %> (<%= p.cartItem.quantity %>)</p>
                    <form action="/cart-delete-item" method="post">
                        <input type="hidden" value="<%=p.id%>" name="productId">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <div class="centered">
             <form action="/create-order" method="POST">
                 <button type="submit" class="btn">Order Now!</button>
             </form>
        </div>
    <% } else { %>
        <h1>No Products in Cart</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>